/* tablet */
@media (max-width:960px){
    /* main */

    main {
        display: grid;
    }

    .container-text {
        padding-left: 0px;
        padding-top: 120px;
        padding-bottom: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    .principal-text {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    
    .principal-text-before {
        font-size: 50px;
        padding-left: 40px;
    }
 
    .img-computer {
        display: none;
    }

    .container-img {
        display: none
    }
    
    .buttons {
        gap: 20px;
    }

    /* footer */
    .contact {
        font-size: 20px;
    }
    
    .container-contact {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    
    #simbol {
        padding-left: 5px;
        width: 20px;
    }
    
    .copyright {
        color: white;
        font-size: 16px;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 300px;
        text-align: center;
    }

    
    .social {
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .ellipse {
        width: 40px;
        height: 40px;
       
    }
}


/*celular*/
@media (max-width:640px){

    
}